<template>
  <q-page class="column justify-center items-center q-gutter-md">
    <div class="row">
      <div class="text-weight-bolder">DEBUG_VAR from client env:</div>
      <div>{{ debugText }}</div>
    </div>
    <div class="row">
      <div class="text-weight-bolder">DEBUG_VAR from server env:</div>
      <div>{{ serverDebugText }}</div>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";

export default {
  name: "PageIndex",
  data() {
    return {
      serverDebugText: ""
    };
  },
  methods: {
    async getDebugTextFromServer() {
      const response = await axios({
        method: "get",
        url: "http://localhost:3000/debug",
        headers: {
          "content-type": "application/json"
        }
      });
      this.serverDebugText = response.data;
    }
  },
  computed: {
    debugText() {
      return process.env.DEBUG_VAR;
    }
  },
  mounted() {
    this.getDebugTextFromServer();
  }
};
</script>
